* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #0e064e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    width: 420px;
    background: #12103a;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 10px;
    border-radius: 8px;
    border: none;
}

#addTaskBtn {
    background: #03a9f4;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#taskList {
    margin-top: 20px;
    list-style: none;
}

.task {
    background: #444;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task.completed {
    text-decoration: line-through;
    color: #9e9e9e;
}

.buttons {
    display: flex;
    gap: 8px;
}

button {
    cursor: pointer;
}

.edit-btn {
    background: #ffc107;
}

.delete-btn {
    background: #e91e63;
    color: white;
}

.complete-btn {
    background: #4caf50;
    color: white;
}